*{
    margin: 0px;
    box-sizing: border-box;
}
body{
   background-color: transparent;
   user-select: none;
}

.section{
    position: relative;
    top: 0px;
    width: 100%;
}
/*Main Information*/
.section.one{
    background-color: transparent;
    z-index: 1;
    left: 0px;
}

/*Dark mode*/
.section.two{
    background-color: #eaebed;
    z-index: -10;
    top: 0px;
    right: 0px;
    height: 2.5cm;
    width: 2.5cm;
    border-radius: 0% 0% 0% 100%;
    position: fixed;
    transition: .3s;
}
.toggle{
    height: 1cm;
    width: 1cm;
    background-color: white;
    float: right;
    margin-top: .8cm;
    margin-right: .6cm;
}
.section.two.dark{
    height: 100%;
    width: 100%;
    border-radius: 0% 0% 0% 0%;
    background-color: rgb(53, 53, 53);
    transition: .3s;

}

/*Backgroud Image*/
.section.three{
    height: 100%;
    z-index: -9;
    position: fixed;
    left: 0px;
    background-image: url("backgroupDesign.png");
    background-position: 0px 0px;
    background-size: contain;
}

.container-fluid{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

article h1{
  color: #364c96;
  font-weight: bolder;
  position: relative;
}

blockquote{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);;
    padding-left: 15px;
    color: #ff8496;
}

aside{
   /* background-color: #eaebed;*/
    text-align: center;
    border-radius: .4cm;
    margin-top: -0.4cm;
    color: #1d378f;
    padding-top: 10px;
    position: relative;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 18px;
    background-color: #eaebed;
}

aside {
    padding-top: 10px;
    z-index: 1;
}

aside img{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}


.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.social-media a{
    margin: 10px;
}

.social-media a button{
    height: 1cm;
    width: 4cm;
    background-color: transparent;
    border-radius: 0.4cm;
    border: 3px solid #364c96;
    font-weight: bolder;
    color: #364c96;
    position: relative;
}
.social-media a button:active{
    transform: scaleX(1.3);
    transition: .3s;
}


.connect-text{
    color: #364c96;
    position: relative;
    font-weight: bolder;
}
.connect-text::after{
    content: "";
    position: absolute;
    height: 0.1cm;
    width: 0%;
    background-color: #ff8496;
    bottom: 0px;
    left: 0px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.connect-text::before{
    content: "";
    position: absolute;
    height: 0.1cm;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #ffc995;
}

.social-media a button span{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    background-color: #ff8496;
    border-radius: 0.25cm;
   z-index: -1;
}

.social-media a button:hover span{
    animation: bounce .3s ease-in ;
    animation-fill-mode: forwards;
    transition: .3s;
}

@keyframes bounce {
    0%{width: 0%;}
    30%{width: 100%;}
    70%{width: 80%;}
    100%{width: 100%;}
}

@-webkit-keyframes bounce {
    0%{width: 0%;}
    30%{width: 100%;}
    70%{width: 80%;}
    100%{width: 100%;}
}

h1 span:hover{
    color: #ff8496;
    transition: .2s;
}

article h1 .h1-line{
    position: absolute;
    left: 0px;
    bottom: -3px;
    height: .15cm;
    background-color: #ff8496;
    border-radius: 0.25cm;
}
article h1:nth-child(1):hover .h1-line{
    animation: h1bounce1 .3s ease-in ;
    animation-fill-mode: forwards;
    transition: .3s;
}
article h1:nth-child(2):hover  .h1-line{
    animation: h1bounce2 .3s ease-in ;
    animation-fill-mode: forwards;
    transition: .3s;
}

article h1:nth-child(3):hover .h1-line{
    animation: h1bounce3 .3s ease-in ;
    animation-fill-mode: forwards;
    transition: .3s;
}

@keyframes h1bounce1 {
    0%{width: 0%;}
    30%{width: 20%;}
    70%{width: 15%;}
    100%{width: 20%;}
}
@-webkit-keyframes  h1bounce1 {
    0%{width: 0%;}
    30%{width: 20%;}
    70%{width: 15%;}
    100%{width: 20%;}
}
@keyframes h1bounce2 {
    0%{width: 0%;}
    30%{width: 70%;}
    70%{width: 55%;}
    100%{width: 70%;}
}
@-webkit-keyframes h1bounce2 {
    0%{width: 0%;}
    30%{width: 70%;}
    70%{width: 55%;}
    100%{width: 70%;}
}
@keyframes h1bounce3 {
    0%{width: 0%;}
    30%{width: 80%;}
    70%{width: 70%;}
    100%{width: 80%;}
}
@-webkit-keyframes h1bounce3 {
    0%{width: 0%;}
    30%{width: 80%;}
    70%{width: 70%;}
    100%{width: 80%;}
}

.images{
   display: flex;
   justify-content: center;
   align-items: center;
}
.items{
    margin-top: -2cm;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-image: url("imgback.png");
}
.images img{
      height: 12cm;
      width: 12cm;
      filter: saturate(60%);

}

.quote{
    overflow: hidden;
    height: 2cm;
    padding: 20px;
    text-align: center;
    border-radius: .4cm;
    margin-top: -0.6cm;
    color: #1d378f;
    position: relative;
    z-index: 1;

}

.quote p{
    z-index: 2;
    padding: 10px;
    margin-bottom: 10px;
}
.quote img{
    position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.toggle{
    background-color: transparent;
    position: fixed;
    height: 1.5cm;
    width: 1.5cm;
    top: 0px;
    right: 0px;
    z-index: 11;
    overflow: hidden;
    background-image: url("crescent-moon.png");
    background-size: contain;
    border: 2px solid #364c96;
    border-radius: 50%;
}
.toggle.dark{
    background-image: url("sun.png");
}

.tooltip1{
    padding: 1px;
    background-color: #eaebed;
    transform: translateX(-2.5cm);
    visibility: hidden;
    position: absolute;
    width: 3cm;
    text-align: center;
    border-radius: 7px;
}


.toggle:hover{
    background-color: #ff8496;
    overflow: visible;
}

.toggle:hover .tooltip1{
    animation: showtip .3s ease-in 1;
    transition: .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;}
    


@keyframes showtip{
    0%{visibility: visible;}
    10%{transform: translateX(-2.5cm);}
    30%{transform: translateX(-3.1cm);}
    70%{transform: translateX(-2.9cm);}
    100%{transform: translateX(-3.1cm);visibility: visible;}
}
